<!DOCTYPE html>
<html>
  <head>
    <title>Knowledge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |msg, val| %>
     <% if msg.to_s.in? ['error', 'notice'] %>
       <div class="msg"><%= val %></div>
     <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
